/* @import url(global.css); */

:root {
    --main-color:hsl(0,95%,65%);
    --primary-color: white;
}

body {
    color: #fff;
    background-color: whitesmoke;
}

.dropdown-toggle::after {
    color: #fff;
}

.banner {
    max-width: 1200px;
    display: flex;
    margin-bottom: 5rem;
}

.heading {
    text-align: center;
}

.heading h2 {
    color: var(--main-color);
    padding-bottom: 20px;
}

/* section-1 */

video{
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    overflow-x:hidden ;
    width:100% ;
    height:100%;
    object-fit: cover;
}

#banner-1 {
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    height: 706px;
}

#banner-1 .content {
    width: 80%;
}

#banner-1 .content h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

#banner-1 .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
}

#banner-1 .content h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
    font-weight: 700;
    line-height: 6rem;
    color: var(--white);
}

#banner-1 .image {
    display: flex;
    justify-content: center;
}

#banner-1 .image img {
    max-width: 350px;
    margin: auto;
}

/* section-2 */

#banner-2 {
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
}

#banner-2 .content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#banner-2 .image {
    width: 350px;
    height: 220px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 1rem;
    background-color: #111317;
}

#banner-2 .image img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0.5;
}

#banner-2 .image span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
    font-weight: 600;
    color: white;
}

#banner-2 .banner-button {
    display: flex;
    justify-content: center;
}

#banner-2 .banner-button button {
    font-weight: 600;
    height: 45px;
    width: 150px;
}

/* section-3 */

#banner-3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    height: 730px;
    max-width: 100%;
    margin-top: 8rem;
}

#banner-3 .image{
    position: absolute;
    top:0;
    left:0;
    width:inherit;
    height:inherit;
    background-color: #111317;
    z-index: -1;
}
#banner-3 .image img{
    width:inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
    opacity: 0.5;
}

#banner-3 .content{
    color:white;
    text-align: center;
}

/* section-4 */

#banner-4 {
    flex-direction: column;
}

#banner-4 .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.trainer {
    margin-bottom: 1rem;
    text-align: center;
    color: #111317;
}

.trainer img {
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 270px;
    max-height: 270px;
    overflow: hidden;
    outline: 1px solid black;
    padding: 2px;
    object-fit: cover;
    object-position: center;
}

.trainer i {
    font-size: 1.5rem;
    color: var(--main-color);
}


/* section-5 */
#banner-5{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    height: 730px;
    max-width: 100%;
}

#banner-5 .image{
    position: absolute;
    top:0;
    left:0;
    width:inherit;
    height:inherit;
    background-color: #111317;
    z-index: -1;
}
#banner-5 .image img{
    width:inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
    opacity: 0.4;
}

#banner-5 .content{
    color:white;
    text-align: center;
}

/*section-6*/

#banner-6{
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#banner-6 .heading{
    align-items: center;
}

#banner-6 .slider{
    width:inherit;
}

#banner-6 .slider[data-animated="true"]{
    overflow: hidden;
}

#banner-6 .slider[data-animated="true"] .slide-track{
    flex-wrap: nowrap;
    animation: scroll 25s linear infinite;
}

#banner-6 .slider .slide{
    display:flex;
    height:200px;
    width:500px;
    padding:5rem;
}

.slide figure img{
    width:150px;
}

#banner-6 .slider .slide-track{
    display:flex;
    flex-wrap: wrap;
    padding-block:1rem;
    gap:2rem;
}    

@keyframes scroll{
    to{
        transform:translate(-114.4%);
    }    
}  


/* responsive */

@media(max-width:910px) {
    #banner-1 .content {
        width: 100%;
    }

    #banner-4 .content {
        justify-content: center !important;
    }

    #banner-5 .content {
        width: 100%;
    }

    .animate-2 {
        transform: translateX(0px) !important;
    }

    .animate-3 {
        transform: translateX(0px) !important;
    }
}

@media(max-width:760px) {
    #banner-1 .content h1 {
        font-size: 3rem;
        line-height: 4rem;
    }

    #banner-3 .content-image h2 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2rem;
        color: var(--white);
    }

    #banner-6 .slider[data-animated="true"] .slide-track{
        animation: scroll 17s linear infinite;
    }

    #banner-6 .slider .slide{
        padding-left:1rem;
        padding-right:1rem;
    }
}

@media(max-width:560px) {
    #banner-3 .image span {
        position: relative;
        top: 0%;
        left: 0%;
        width: 100%;
        transform: translateX(0%) translateY(0%);
    }
}

@media(max-width:360px) {

    #banner-1 .content h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    #banner-2 .image {
        width: 278px;
        height: 150px;
        border-radius: 20px;
        position: relative;
    }
}

/* animation */

.animate {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.8s all ease-in-out;
}

.animate.show-animation {
    transform: translateY(0px);
    opacity: 1;
}

.animate-2 {
    position: relative;
    transform: translateX(-50px);
    opacity: 0;
    transition: 1.6s all ease-in-out;
}

.animate-2.left-side-in {
    transform: translateX(0px);
    opacity: 1;
}

.animate-3 {
    position: relative;
    transform: translateX(50px);
    opacity: 0;
    transition: 1.6s all ease-in-out;
}

.animate-3.right-side-in {
    transform: translateX(0px);
    opacity: 1;
}

#banner-1 .content h4 {
    position: relative;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
    text-transform: uppercase;
    width: fit-content
}

#banner-1 .content h4::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    font-weight: inherit;
    border-right: 2px solid var(--main-color);
    -webkit-text-fill-color: var(--main-color);
    -webkit-text-stroke: transparent;
    outline: none;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}